@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900");
@import "tailwindcss";

:root {
  --primary-color: #0d68f3;
  --secondary-color: #50e3c2;
  --background-color: #f6f5fa;
  --text-color: #505050;
  --highlight-color: #f75654;
}


body {
  background-color: rgba(85, 84, 84, 0.063);
  color: var(--text-color);
  font-family: "Outfit", sans-serif !important;
  overflow-x: hidden;
}

.MuiBadge-dot {
    background: var(--secondary-color) !important;
}

.animate-spin {
  animation-duration: 4s !important;
}

.navlink ul li button {
    font-family: "Outfit", sans-serif !important;

}