@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900");
@import "tailwindcss";
  
:root {
  --primary-color: #0d68f3;
  --secondary-color: #50e3c2;
  --background-color: #f6f5fa;
  --text-color: #505050;
  --highlight-color: #f75654;
}

body {
  background-color: rgba(85, 84, 84, 0.063);
  color: var(--text-color);
  font-family: "Outfit", sans-serif !important;
  overflow-x: hidden;
}

.MuiBadge-dot {
  background: var(--secondary-color) !important;
}

.animate-spin {
  animation-duration: 4s !important;
}

.navlink ul li button {
  font-family: "Outfit", sans-serif !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.1ms ease;
  visibility: hidden !important;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  visibility: visible !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: 800 !important;
  color: black !important;
}

.MuiButton-text, .MuiTableCell-root {
  font-family: "Outfit", sans-serif !important;
}

.MuiFormControlLabel-label {
  font-family: "Outfit", sans-serif !important;
}